@font-face {
  font-family: "Tuffy";
  src: url("./assets/fonts/Tuffy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tuffy";
  src: url("./assets/fonts/Tuffy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tuffy";
  src: url("./assets/fonts/Tuffy-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_24pt-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
